spring:
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false

logging:
  level:
    com.voguethreads: INFO
    org.springframework.web: WARN
    org.hibernate.SQL: WARN
  file:
    name: logs/catalog-service.log
    max-size: 10MB
    max-history: 30

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

